.NavButton {
    color: #fff;
    background: none;
    padding: 0.8em 1em;
    border: none;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
}

button:hover {
    text-decoration: underline;
}